.latestArticles {
  padding-top: 5em 0;
  background: var(--lightGray);
  .title-h1 {
    text-align: center;
  }
  .title-h3 {
    text-align: left;
  }
  &-grid {
    display: grid;
    grid-row-gap: 2em;
  }
  &-item {
    border-radius: 0.5em;
    overflow: hidden;
    background: var(--white);
    &-content {
      padding: 1.8em;
    }
    small {
      color: var(--grayBlue);
      margin-bottom: 1em;
      display: block;
    }
    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    &-item {
      &-content {
        padding: 1em;
      }
    }
    &-grid {
      display: grid;
      grid-column-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 1024px) {
    &-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
